.app {
  height: fit-content;
  justify-content: space-around;
  margin: 30vh 30vw 30vh 30vw;
  background-color: #94eaa6;
  text-align: center;
  padding: 2%;
}

.inputBox {
  margin: 10vh 0 2vh 0;
  outline: none;
}

.paragraph {
  padding: 2vh 0 2vh 0;
}